canvas {
  width: 800px;
  height: 800px;
  border: 3px solid black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  box-sizing: border-box;
}

.title {
  margin: 15px 0px;
  font-size: 30px;
  font-weight: bold;
}

#color-set-wrapper {
  display: flex; 
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#color-palette {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}

.palette-children {
  width: 30px;
  height: 30px;
}

#mode-btn {
  width: 70px;
}